<div class="SubsHeader">
    <p>Subscription</p>
  </div>
  <div class="container">
    <div class="subsForm" *ngFor="let subscription of Subscriptions">
      <p>{{ subscription.title }}</p>
      <p>{{ subscription.price | currency }}</p>
      
      
      <div class="btnContainer">
        
        <button class="btn">Purchase</button>
        <button class="btn" (click)="ShowHideDetails()">Details</button>
      </div>
      <ng-template>
        <p [ngIf]="needMoreDetails">{{subscription.details}}</p>
      </ng-template>
    </div>
  </div>
  