<div class="SubsHeader">
    <p>Subscription</p>
  </div>
  <div class="container">
    <div class="subsForm" *ngFor="let subscription of Subscriptions">
      <p>{{ subscription.title }}</p>
      <p>{{ subscription.price | currency }}</p>
      <ng-template  [ngIf]="needMoreDetails">
        <p>Subscription Period: {{subscription.details.SubscriptionPeriod}} D</p>
        <p>Available coin: {{subscription.details.AvailableCurrencies}}</p>
        <p>Exchanges: {{subscription.details.AvailableExchanges}}</p>
        
      </ng-template>
      
      <div class="btnContainer">
        
        <button class="btn">Purchase</button>
        <button class="btn" (click)="ShowHideDetails(subscription.id)">Details</button>
      
    </div>
  </div>
  