<div class="name">
<div class="lastPrice">
  <!-- <select [(ngModel)]="selectSymbol" (change)="selectCoinBySymbol(selectSymbol)">
    <option value="">All</option>
    <option *ngFor="let item of currApiBlockchain" [value]="item.symbol">{{ item.symbol }}</option>
  </select> -->

<div *ngFor="let item of filteredData">
  <div>Bitcoin Price from blockchain: {{ item.last }}</div>
</div>
</div>
<div class="lastPrice">
  <div *ngFor="let item of currApiByBit[2].list">Bitcoin Price from ByBit:<p>{{currApiByBit[2].list[0].lastPrice}}</p></div>
  
</div>
</div>
