.ProfileBlock {
    margin: 0 auto;
    background-color: rgb(87, 87, 228);
    max-width: 750px;
    text-align: left;
    text-shadow: #3f3f3f;
    padding: 20px;
    border: solid #3f3f3f 2px;
    border-radius: 10px;
    position: relative; 
  
    p {
      text-transform: uppercase;
      display: inline-block;
      color: wheat;
      cursor: pointer;
    }
    
    .logout {
      color: rgb(105, 24, 24);
      border: solid 2px #3f3f3f;
      padding: 10px;
      border-radius: 10px;
      text-shadow: #3f3f3f;
      position: absolute;
      bottom: 0;
      right: 10px;
    }
  }
  