<div class="HeaderLoginFrom">Registration</div>
<!-- <button>Sing up</button>
    <button>Sing in</button> -->
<div class="loginFrom">
    <form>
        
        Login: <input id="login">
        Password: <input id="password">
        Confirm password: <input id="confirmPassword">
        <div class="checkbox"> 
       I have read and agree with <a class="terms">tearms</a><input type="checkbox" [(ngModel)]="isChecked" />
        </div>
    </form>

    <button class="btn">register</button>
    <button class="btn">cancel</button>
</div>