<div class="name">
    <div class="lastPrice" [ngClass]="{'bg-green': lastBitcoinPriceBybit > lastBitcoinPriceBlockchain, 'bg-red': lastBitcoinPriceBybit <= lastBitcoinPriceBlockchain}">
      <!-- <select [(ngModel)]="selectSymbol" (change)="selectCoinBySymbol(selectSymbol)">
        <option value="">All</option>
        <option *ngFor="let item of currApiBlockchain" [value]="item.symbol">{{ item.symbol }}</option>
      </select> -->
    
    <div>
      <div><p>Bitcoin Price from blockchain: <br>{{ lastBitcoinPriceBlockchain }}</p></div>
    </div>
    </div>
    <div class="lastPrice" [ngClass]="{'bg-green': lastBitcoinPriceBlockchain > lastBitcoinPriceBybit, 'bg-red': lastBitcoinPriceBlockchain <= lastBitcoinPriceBybit}">
      <div><p>Bitcoin Price from ByBit:  <br>{{lastBitcoinPriceBybit}}</p></div>
      
    </div>
    <div class="priceDifference">
      <p>
      Difference: {{howMuchMorePrice | number: '2.2-3'}}$
       <br>(Fee: {{BTCFeePriorityPrice}})
    </p>
    </div>
    </div>
    <div class="charts">
        <app-charts [lastBitcoinPriceBlockchain]="lastBitcoinPriceBlockchain"></app-charts>
    </div>
    <div>
      <!-- <button>Add Price</button> -->
    </div>